*{
	margin: 0;
	padding:0; 
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #FFFFFF;
}
/*top样式标签开始*/
#top{
	width: 100%;
	height: 96px;
}
#top .realtop{
	width: 995px;
	height: 96px;
	margin: 0 auto;
	position: relative;
}
#top .realtop img{
	float:left;
	margin-top: 20px;
}
#top .realtop .logo{
	width: 256px;
	height: 56px;
	float: left;
	margin:25px 0 0px 20px;
}
#top .realtop .logo h3{
	font-family: "时尚中黑简体";
	font-size: 30px;
	color: #d75968;
	line-height: 32px; 
}
#top .realtop .logo b{
	font-family: "HelveticaNeue LT 55 Roman";
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	color:#d75968; 
}
#top .realtop p{
	width: 150px;
	height: 15px;
	font-family:"宋体";
	font-size: 12px;
	position: absolute;
	top: 20px;
	right: -10px;
}
#top .realtop p a{
	color: #383737;
	padding: 0 10px;
}
#top .realtop .search{
	width: 183px;
	height: 26px;
	position: absolute;
	top: 57px;
	right: 0;
	border:1px solid #AAAAAA;
	border-radius: 15px;
	outline: none;
	text-indent: 10px;
	color: #676565;
	font-size: 12px;
}
#top .realtop .search_bg{
	width: 18px;
	height: 15px;
	position: absolute;
	top:63px;
	right: 15px;
	background: url(../images/icon.gif) 0 0 no-repeat;
}
/*顶部样式标签结束*/
/*导航栏样式标签开始*/
#nav{
	width: 100%;
	height: 35px;
	background-color: #E23C54;
}
#nav ul{
	width: 995px;
	height: 35px;
	margin:0 auto;
}
#nav ul li{
	width: 124.37px;
	float: left;
	text-align: center;
}
#nav ul li.current{
	background-color: #BE1B2F;
}
#nav ul li a{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 35px;
	color: #fff;
}
/*导航栏样式标签结束*/
/*banner图样式标签开始*/
#ban{
	width: 100%;
	height: 400px;
}
#ban .banner{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
}
#ban .banner .pic{
	margin-left: -1px;
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#ban .banner .pic p.text1{
	position: absolute;
	top:165px;
	left:415px;
	width: 627px;
	height:161px;
	text-align: center;
}
#ban .banner .pic p.text1 span{
	font-family: "Monotype Corsiva";
	font-size: 110px;
	color: #fff;
}
#ban .banner .pic p.text1 b{
	display: block;
	margin-top: -10px;
	margin-bottom: -5px;
	font-weight: 700;
	font-family: "[YouYuan]";
	font-size: 30px;
	line-height: 15px;
	color: #30660f;
}
#ban .banner .pic p.text1 i{
	font-family: "Monotype Corsiva";
	font-size: 18px;
	color:#30660f;
}
#ban .banner .pic p.text2{
	position: absolute;
	top:100px;
	left:370px;
	width: 660px;
	height: 85px;
	line-height:30px;
	font-size: 20px;
	color:#FEB9AC;
	font-family: "Monotype Corsiva";
	text-align: center;
}
#ban .banner .pic p.text3{
	position: absolute;
	top:210px;
	left:545px;
	width: 340px;
	height: 60px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color:#3c7b0d;
	text-align: center;
}
#ban .banner .pic p.text3 b{
	font-family: "Monotype Corsiva";
	font-size: 18px;
	line-height: 15px;
	color: #30660f;
	font-weight: 400;
}
#ban .banner ul{
	position: absolute;
	top:370px;
	left: 655px;
}
#ban .banner ul li{
	width: 22px;
	height: 22px;
	margin-left: 5px;
	background: #fff;
	float: left;
	font-size: 12px;
	color: #e23c54;
	border-radius: 50%;
	line-height: 22px;
	text-align:center; 
	font-family: "黑体";
	cursor: pointer;
}
#ban .banner ul li.current{
	background-color: #E23C54;
	color:#fff;
}
/*banner图样式标签结束*/
/*当前位置样式标签开始*/
#adress{
	width: 100%;
	height: 35px;
}
#adress p{
	width: 995px;
	height: 35px;
	margin:0 auto;
	font-family: "宋体";
	font-size: 12px;
	line-height: 60px;
	color: #656363;
}
#adress p span{
	color: #E23C54;
}
/*当前位置样式标签结束*/
/*页脚样式标签开始*/
#tiao{
	width: 100%;
	height: 3px;
	float: left;
	margin-bottom: 5px;
	background-color: #FEC5C5;
}
#footer{
	width: 100%;
	height:165px;
	float: left;
	background-color: #F2596A;
}
#footer .realfooter{
	width: 995px;
	height: 165px;
	margin:0 auto;
}
#footer .realfooter .left{
	width: 300px;
	height: 55px;
	margin-left: 14px;
	margin-top: 45px;
	float: left;
}
#footer .realfooter .left h3{
	font-family: "时尚中黑简体";
	font-size: 30px;
	color: #faa9b2;
}
#footer .realfooter .left b{
	font-family: "HelveticaNeue LT 55 Roman";
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	color:#faa9b2; 
	letter-spacing: 1px;
}
#footer .realfooter .right{
	width: 660px;
	height: 90px;
	float: left;
	margin-left: 0px;
	margin-top: 35px;
}
#footer .realfooter .right ul{
	width: 660px;
	height: 30px;
}
#footer .realfooter .right ul li{
	padding: 0 20px;
	float: left;
}
#footer .realfooter .right ul li a{
	font-family: "宋体";
	font-size: 14px;
	color:#fff;
}
#footer .realfooter .right p{
	width: 189px;
	height: 39px;
	line-height: 20px;
	font-size: 12px;
	font-family: "宋体";
	margin-left: 20px;
	color:#fff;
}
/*页脚样式标签结束*/